body {
    top: 0px;
    left: 10vw;
    position: absolute;
    background-color: rgb(231, 236, 156);
    display: grid;
    grid-template-columns: 30vw 50vw;
    grid-template-rows: 10vh 70vh;
    grid-row-gap: 5vh;
    grid-column-gap: 0px;
}
.introduction{
    font-family: 'Gochi Hand', cursive;
    text-align: center;
    z-index: 999;

}

.introduction h2{
    font-size: 2em;
    color:   #477d83;
}

.introduction span{
    font-weight: 900;
    font-size: 1.5em;
    color:   #e27559;
}

button {
    font-family: 'Gochi Hand', cursive;
    color:   #e27559;
    font-size: 3em;
    background-color: #9db9bc;
    border: none;
    width: 50%;
    margin: 0 auto;
    border-radius: 50px;
    outline: none;
}

button:hover {
    background-color: #477d83;
    color:  #9db9bc;


}

.game {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    margin-right: 200px;
    margin-top: 50px;
}
.objects {

    width: 233px;
    height: 233px;
    justify-content: center;
    align-items: center;
}

.bed {

    z-index: 2;
}

.seating {

    z-index: 3;

}

.shelf {

    z-index: 1;

}

.room {
    margin: 0 auto;
    text-align: center;
    width: 500px;
    height: 500px;

}
 .room img {
     border-radius: 25%;
     box-shadow: rgba(201, 144, 79, 0.61) 20px -20px 10px;;
 }

.highlight {
    background-color: pink;
}